//
@use 'bootstrap';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1d1d60;
}

nav {
    background-color: black;
    box-shadow: inset 0px -17px 20px 0 #1d1d60;
}

a {
    text-decoration: none;
}

.cards {
    color: white;
    padding-left: 1rem !important;
    min-height: 220px;
    box-shadow: 7px 6px 0px 0px #673ab7, 13px 12px 0px 0px white;
    transition: box-shadow 0.7s;
    &:hover {
        box-shadow: 7px 6px 0px 0px #673ab7, -7px -6px 0 0 red;
    }
    small,
    .nazionality,
    .release,
    .rate {
        color: #673ab7;
        strong {
            color: white;
        }
    }
}

footer {
    color: white;
}